.banner {
    /* background-image: url('../assets/gradient_circel_bg.png'), url('../assets/gradient_circel_bg.png');
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain;
    background-position: bottom left, bottom right; */
    position: relative;
    z-index: 10;
}

.banner .subtitle {
    margin-bottom: 32px;
}

.banner button {
    color: var(--Secondary-color, #FFF);
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 56px;
    box-shadow: 0 2px 4px rgba(65, 88, 208, 0.5), 0 4px 8px rgba(200, 80, 192, 0.5), 0 8px 16px rgba(255, 204, 112, 0.5);
}

.banner .bg1 {
    position: absolute;
    overflow: hidden;
    top: 10%;
    right: 0;
    z-index: -1;
}

.banner .bg2 {
    position: absolute;
    overflow: hidden;
    bottom: -5%;
    left: 1%;
    z-index: -1;
}

.marqueeContainer {
    max-width: 2500px;
    margin: auto;
    padding: 20px 0;
    background: var(--secondaryColor);
  }
  
  .marqueeContainer.company_slider {
    background: none;
  }
  
  .marquee {
    white-space: nowrap;
    min-width: 100%;
    overflow: hidden;
  }
  
  @keyframes marqueeAnimation {
    from {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  
    to {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }
  
  .marque_items {
    display: flex;
    animation: marqueeAnimation 40s linear infinite;
    animation-delay: -20s;
  }